<header>
    <div style="height: 140px;">
        <h2 style="color:white;float: right;">{{ nombreCliente }} <img  style="background-color: white;height: 25px;" src="../../../assets/person-square.svg"/> </h2>
        <button  class="logout" (click)="clearSession()">Salir</button>
    </div>
</header>

<body>
    <div class="row">
        <div class="column1">
            <div class="nav">
                <h2 style="align-content: center;text-align: center;background-color: black;"> Menu</h2>
                <li >
                    <img  style="width: 15%;" src= "../../../assets/send-2.svg"> <a routerLink="../consulta" routerLinkActive="active">Mi cuenta</a>
                 </li>
                 <li>
                     <img  style="width: 15%;" src= "../../../assets/send-2.svg"><a routerLink="../inicio" routerLinkActive="active">Transferencia</a>
                 </li>
                 <li>
                     <img  style="width: 15%;" src= "../../../assets/send-2.svg"> <a routerLink="../listAllTransactions" routerLinkActive="active">Tus transferencias</a>
                 </li>

            </div>
        </div>
        <div class="column">
            <h2 style="margin-left: 20%;background-color: gray;width: 30%;text-align: center;">TABLA DE TRANSACCIONES </h2>

            <table class="table table-striped">
                <thead style="background-color: cornflowerblue;">
                    <tr>
                        <th >
                        #CUENTA ORIGEN
                        </th>
                        <th >
                            
                        #CUENTA DESTINO
                        </th>
                        <th>MONTO</th>
                        <th>BENEFICIARIO</th>
                        <th>Asunto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of transfers" class="" style="background-color: #3b4d61;color: yellow;font-family: Georgia, 'Times New Roman', Times, serif;font-size: 12px;">
                        <td>{{item.numCuentaOrigen}}</td>
                        <td>{{item.numCuentaDestino}}</td>
                        <td>${{item.monto}}</td>
                        <td>{{item.personaDestino}}</td>
                        <td>{{item.tipoTransaccion}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                        </td>
                    </tr>
                </tfoot>

                </table>

        </div>
    </div>
</body>