<header>
    <div style="height: 140px;">

    </div>
</header>

<body>
    <div class="row">
        <div class="column1">
            <div class="nav">
                <h2>Menu</h2>
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li ngbNavItem="top">
                        <a routerLink="../consulta" routerLinkActive="active">Mi cuenta</a>

                    </li>
                    <li ngbNavItem="middle">
                        <a ngbNavLink><a routerLink="../inicio" routerLinkActive="active">Transferencia</a></a>

                    </li>
                    <li ngbNavItem="bottom">
                        <a routerLink="../consulta" routerLinkActive="active">Tus transferencias</a>


                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="ml-4"></div>
            </div>
            <pre>Active: {{ active }}</pre>
        </div>
        <div class="column">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 30%">
                        </th>
                        <th style="width: 70%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item.valor}}</td>
                        <td>{{item}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                        </td>
                    </tr>
                </tfoot>

                </table>

        </div>
    </div>
</body>