<header>
    <div style="height: 140px;">

    </div>
</header>

<body>
    <div class="row">
        <div class="column1">
            <div class="nav">
                <h2>Menu</h2>
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li ngbNavItem="top">
                        <a routerLink="../consulta" routerLinkActive="active">Mi cuenta</a>

                    </li>
                    <li ngbNavItem="middle">
                        <a ngbNavLink><a routerLink="../inicio" routerLinkActive="active">Transferencia</a></a>

                    </li>
                    <li ngbNavItem="bottom">
                        <a routerLink="../consulta" routerLinkActive="active">Tus transferencias</a>


                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="ml-4"></div>
            </div>
            <pre>Active: {{ active }}</pre>
        </div>
        <div class="column">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 20%">
                        # CUENTA ORIGEN
                        </th>
                        <th style="width: 20%">
                            
                            # CUENTA DESTINO
                        </th>
                        <th>MONTO</th>
                        <th>BENEFICIARIO</th>
                        <th>Asunto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of transfers">
                        <td>{{item.numCuentaOrigen}}</td>
                        <td>{{item.numCuentaDestino}}</td>
                        <td>{{item.monto}}</td>
                        <td>{{item.personaDestino}}</td>
                        <td>{{item.tipoTransaccion}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                        </td>
                    </tr>
                </tfoot>

                </table>

        </div>
    </div>
</body>