<header>
    <div style="height: 140px;">
    
     </div>
</header>

<body>
    <div class="row">
        <div class="column1">
            <div class="nav">
                <h2>Menu</h2>
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li ngbNavItem="top">
                        <a routerLink="../consulta" routerLinkActive="active">Mi cuenta</a>

                    </li>
                    <li ngbNavItem="middle">
                        <a ngbNavLink><a routerLink="../inicio" routerLinkActive="active">Transferencia</a></a>

                    </li>
                    <li ngbNavItem="bottom">
                        <a routerLink="../consulta" routerLinkActive="active">Tus transferencias</a>


                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="ml-4"></div>
            </div>
            <pre>Active: {{ active }}</pre>
        </div>
        <div class="column">
            <div class="row" style="width: 70%;">
                <div class="column2">
                    <label>NOMBRE*</label>

                    <label>APELLIDO</label>

                    <label>CUENTA</label>
                    <label>SALDO</label>
                </div>
                <div class="column3" style="background-color:#bbb;">
                    <label> {{nombre}} </label>
                    <label>{{apellido}}</label>
                    <label>{{numCuenta}}</label>
                    <label>{{saldo}}</label>
                </div>
                <button class="transferirButton"
                    >Transferir</button>
                <button class="cancelarButton">Cancelar</button>
            </div>



        </div>
    </div>
</body>