<header>
    <div style="height: 140px;">
        <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;border-bottom: blue;border-width: 3px;border-bottom-style: solid;background-color:white;">Transferencias</h2>
        <h2 style="color:white;float: right;">{{ nombre }} {{apellido}} <img  style="background-color: white;height: 25px;" src="../../../assets/person-square.svg"/> </h2>
        <button  class="logout" (click)="clearSession()">Salir</button>
     </div>
</header>

<body>
    <div class="row">
        <div class="column1">
            <div class="nav">
                <h2 style="align-content: center;text-align: center;background-color: black;"> Menu</h2>
                <li >
                    <img  style="width: 15%;" src= "../../../assets/send-2.svg"> <a routerLink="../consulta" routerLinkActive="active">Mi cuenta</a>
                 </li>
                 <li>
                     <img  style="width: 15%;" src= "../../../assets/send-2.svg"><a routerLink="../inicio" routerLinkActive="active">Transferencia</a>
                 </li>
                 <li>
                     <img  style="width: 15%;" src= "../../../assets/send-2.svg"> <a routerLink="../listAllTransactions" routerLinkActive="active">Tus transferencias</a>
                 </li>

            

            </div>
            <pre>Active: {{ active }}</pre>
        </div>
        <div class="column">
            <div class="row" style="width: 70%;">
                <div class="column2">
                    <label>NOMBRE*</label>

                    <label>APELLIDO</label>

                    <label>CUENTA</label>
                    <label>SALDO</label>
                </div>
                <div class="column3" style="background-color:#bbb;">
                    <label> {{nombre}} </label>
                    <label>{{apellido}}</label>
                    <label>{{numCuenta}}</label>
                    <label>{{saldo}}</label>
                </div>
                <button class="transferirButton"
                    >Transferir</button>
                <button class="cancelarButton">Cancelar</button>
            </div>



        </div>
    </div>
</body>