<header>
    <div style="height: 140px;opacity: 35;">
        <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;border-bottom: blue;border-width: 3px;border-bottom-style: solid;background-color:white;">Transferencias</h2>
        <h2 style="color:white;float: right;">{{ nombreCliente }} <img  style="background-color: white;height: 25px;" src="../../../assets/person-square.svg"/> </h2>
        <button (click)="clearSession()">Salir</button>
    </div>
    
</header>

<body>
    <div class="row">
        <div class="column1">
            <div class="nav">
                <h2 style="align-content: center;text-align: center;background-color: black;"> Menu</h2>
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li >
                        <a routerLink="../consulta" routerLinkActive="active">Mi cuenta</a>

                    </li>
                    <li>
                       <a routerLink="../inicio" routerLinkActive="active">Transferencia</a>

                    </li>
                    <li>
                        <a routerLink="../listAllTransactions" routerLinkActive="active">Tus transferencias</a>


                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="ml-4"></div>
            </div>
            <pre>Active: {{ active }}</pre>
        </div>
        <div class="column">
            <div class="row" style="width: 70%;">
                <div class="column2">
                    <label>Institucion financiera destino*</label>
                    <label>Numero de cuenta del beneficiario*</label>
                    <label>Nombre del beneficiario*</label>
                    <label>Valor a transferir*</label>
                    <label>Comentario</label>
                </div>
                <div class="column3" style="background-color:#bbb;">
                    <select #entidad name="cars" id="cars"  required>
                        <option value="transaccionesBancoAustro">BANCO DEL AUSTRO</option>
                        <option value="transaccionJep">JEP</option>
                    </select>

                    <input #numCuenta type="text"  placeholder="ej.1009094303" required />
                    <input #nombreDestino type="text"  placeholder="ej.Caleb Alva" required />

                    <input #valor type="text"  placeholder="$500.0" required />
                    <input #comentario type="text"  placeholder="ej.pago de renta" required />


                </div>
                <button class="transferirButton"
                    (click)="transferencia(valor.value,numCuenta.value,entidad.value,nombreDestino.value,comentario.value)">Transferir</button>
                <button class="cancelarButton">Cancelar</button>
            </div>



        </div>
    </div>




</body>