.nav{
    background-color: tomato;
    color:white;
    height: 440px;
    display: block;


}
li{
    border-width: 3px;
    font-size: 20px;

   margin-top: 10%;
}

.container{
    border-style: solid;
    border-width: px;
    border-color: black;
    border-radius: 10px;
   
    height: 510px;
    margin: 2%;
    background-color: #851e3e;
    padding-left: 100px;
  
}
div{
  
}
label{
display: block;
 margin-top: 10%;
}
input{
    margin-top: 10%;
    display: block;
    margin-left: 20%;
}
body{
    font-size: 19px;
    background-image: url("../../../assets/wallpp.jpeg");
    background-color: teal;   
}
.grid {
    display: grid;
    grid-template-columns: 50px 300px;
    grid-template-rows: 200px 75px;
  }
 
.transferirButton{
    padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color:white;
  background-color: #051e3e;
  height: 40px;
  margin: top 18px;
  margin-left: 24%;
}
.cancelarButton{
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    color:white;
    background-color: #051e3e;
    height: 40px;
    margin: top 18px;
    margin-left: 24%;
}

* {
    box-sizing: border-box;
  }
  .column3 {
    float: left;
    width: 60%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  /* Create two equal columns that floats next to each other */
  .column2 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: #3b4d61 ;
    color: white;
}
  .column1 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .column{
    float: left;
    width: 80%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  header{
      background-image: url("../../../assets/header.jpeg");
  }

  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  select{
    margin-top: 10%;
    margin-left: 20%;
    display: block;
  }
  