<script>
    // the selector will match all input controls of type :checkbox
    // and attach a click event handler 
    $("input:checkbox").on('click', function () {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div>
    <nav>
        <td><a><a routerLink="../consulta" routerLinkActive="active">Consulta</a></a></td>
        <td><a><a routerLink="../inicio" routerLinkActive="active">Transferencia</a></a></td>
    </nav>
</div>
<body>
    <div class="container">   
        <h3>Tipo destino transferencia</h3>
        <label>
            <input type="checkbox" class="radio" value="1" name="fooby[2][]" />Cuenta en la cooperativa</label>
        <label>
            <input type="checkbox" class="radio" value="1" name="fooby[2][]" />Otras Instituciones</label>
        <br>
        <label for="cars">Tipo de cuenta</label>
        <select name="cars" id="cars" style="margin-left: 20%;">
            <option value="volvo">Cuenta de ahorros</option>
            <option value="saab">Cuenta Corriente</option>
        </select>
        <br>
        <label>Institucion financiera</label>
        <select name="cars" id="cars" style="margin-left: 14%;">
            <option value="volvo">BANCO DEL PACIFICO</option>
            <option value="saab">BANCO DEL AUSTRO</option>
            <option value="JEP">JEP</option>
        </select>
        <br>
        <label>Numero de cuenta del beneficiario</label>
        <input type="text" style="margin-left: 7px;"/>

        <br>
        <label>Tipo de identificacion</label>
        <select name="cars" id="cars" style="margin-left: 20%;">
            <option value="cedula">Cedula</option>
            <option value="ruc">Ruc</option>
        </select>
        <br>

        <label for="">Identificacion del beneficiario<input type="text" style="margin-left: 6%;"/></label>
        <br>
        <label for="">Nombre del beneficiario<input type="text" style="margin-left: 12%;" /></label>
        <br>
        <label for="">Correo del beneficiario<input type="text" style="margin-left: 13%;"/></label>
        <br>
        <button class="transferirButton">Transferir</button>
        <button class="cancelarButton">Cancelar</button>
    </div>



</body>