

<body>
    <img class="asistant" src="../../../assets/assistant.gif"/>

    <form class="container">
        <div class="messageAsis"></div>
     <h2 style="margin-left: 24%;font-family: Verdana, Geneva, Tahoma, sans-serif; float: left;">BANCA MOVIL </h2> <img style="width: 10%; float: right;" src="../../../assets/briefcase-2.svg"/>
     <p>Ingresa tus credenciales <br><a href="https://codepen.io/grohit/"></a></p>
     <img  class="imgLogo" src="../../../assets/Banca-movil.png"/>
     <div class="box"> 
         <label for="username">Username</label>
         <input id="usuario" name="usuario" type="text" #usuario class="form-control" required/>
         <label for="password">Password</label>
         <input type="password"  #password formControlName="password" class="form-control" required/>
         <div  class="invalid-feedback">
             <div style="color: red;margin-left: 34%;">Password is required</div>
         </div>
     <label>Escoge tu banco</label>
        <select #entidad  id="entidad" style="margin-left: 20%;">
            <option value="jep">JEP</option>
            <option value="bancoA">BANCO DEL AUSTRO</option>
        </select>
    </div>
     <div class="">
         <button class="loginButton" (click)="logIn(usuario.value,password.value,entidad.value)" >
             <span class=""></span>
             Login
         </button>
         <button class="registerLink">
         
           Registrate
        </button>
     </div>
 </form>
 
 
</body>