.container{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    width: 25%;
    height: 220px;
    margin-left: 32%;
    margin-top: 20%;
    background-color: #851e3e;
    
}

.loginButton{
    padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color:white;
  background-color: #051e3e;
  height: 40px;
  margin: top 18px;
  margin-left: 24%;
}
.registerLink{
  background-color:  #0e9aa7;
  color: white;
  border-radius: 3px;
  min-width: 88px;
  height: 40px;
}

body{
  background-color: teal;
}