

<body>
   <div style="background-color: white;">Transacciones Bancarias</div>
 <form class="container">
     <h2 style="margin-left: 24%;font-family: Verdana, Geneva, Tahoma, sans-serif; float: left;">BANCA MOVIL </h2> <img style="width: 10%; float: right;" src="../../../assets/briefcase-2.svg"/>
     <img  class="imgLogo" src="../../../assets/Banca-movil.png"/>
     <div class="box"> 
     <div class="form-group" style="margin-bottom: 5%;">
         <label for="username">Username</label>
         <input type="text" #usuario class="form-control"  style="margin-top: 10px;"/>
         <div  class="invalid-feedback">
             <div style="color: red;margin-left: 34%;">Username is required</div>
         </div>
     </div>
     <div class="form-group">
         <label for="password">Password</label>
         <input type="password"  #password formControlName="password" class="form-control" />
         <div  class="invalid-feedback">
             <div style="color: red;margin-left: 34%;">Password is required</div>
         </div>
     </div>
     <label>Escoge tu banco</label>
        <select #entidad name="cars" id="cars" style="margin-left: 20%;">
            <option value="jep">JEP</option>
            <option value="bancoA">BANCO DEL AUSTRO</option>
        </select>
    </div>
     <div class="">
         <button class="loginButton" (click)="logIn(usuario.value,password.value,entidad.value)" >
             <span class=""></span>
             Login
         </button>
         <button class="registerLink">
            <span class=""></span>
           Registrate
        </button>
     </div>
 </form>
 
 
</body>